{% extends "template.twig" %}

{% block content %}
    <div id="posts">
        <div>
            <h2>{{ post.title }}</h2>
            <p>
                {{ post.description }}
            </p>
        </div>
    </div>
    <h2>Commentaire</h2>
    {% for comment in comments %}
        <div>
            <h6>{{ comment.username }}</h6>
            <p>{{ comment.comment }}</p>
            <a href="{{ route("DeleteComment",[post.id,comment.id]) }}">Delete</a>
        </div>
    {% endfor %}
{% endblock %}