{% extends "template.twig" %}

{% block style %}
    <link rel="stylesheet" href="/public/css/post.css">
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero__title">
            <i class="far fa-bookmark"></i>
            <h1>Manage</h1>
        </div>
        <hr>
        <label for="edit"><i class="fas fa-edit"></i>Edit mode</label>
        <input type="checkbox" id="edit" name="edit"/>
        <p><i class="fas fa-trash-alt"></i> <a href="{{ route("DeleteBlog",[post.id]) }}">Delete</a></p>
    </div>


    <div class="hero">
        <div class="hero__title">
            <i class="far fa-bookmark"></i>
            <h1>{{ post.title }}</h1>
        </div>
        <hr>

        {% include "Error.twig" %}

        <div id="post">

            <div id="post__normal">
                {% apply markdown_to_html|nl2br %}{{ post.description }}{% endapply %}
            </div>

            <form style="display: none" id="post__admin" method="post" action="{{ route("UpdatePost",[post.id]) }}">
                <div>
                    <input name="title" type="text" value="{{ post.title }}"/>
                    <textarea name="description">{{ post.description }}</textarea>
                </div>
                <input type="submit">
            </form>

        </div>



    </div>

    <div class="hero">
        <div class="hero__title">
            <i class="far fa-bookmark"></i>
            <h1>Reviews</h1>
        </div>
        <hr>
        <div class="reviews__insert">
            <form action="{{ route("InsertComment",[post.id]) }}" method="POST">
                <input type="text" name="username" placeholder="Username"/>
                <br>
                <textarea name="comment" placeholder="Type some text here..."></textarea>
                <br>
                <input type="submit">
            </form>
        </div>

        <div class="reviews__list">
            {% for review in reviews %}
                <fieldset class="review">
                    <legend><i class="fas fa-user"></i> {{ review.username }}</legend>
                    <p>{{ review.comment }}</p>
                    <a href="{{ route("DeleteComment",[post.id,review.id]) }}">Delete</a>
                </fieldset>

            {% endfor %}
        </div>
    </div>



{% endblock %}

{% block js %}
    <script>
        const toggleSwitchEditMode = document.querySelector('input[type="checkbox"]#edit');
        const normalPost = document.querySelector('#post__normal');
        const adminPost = document.querySelector('#post__admin');

        function switchEditMode(e) {
            if (e.target.checked) {
                adminPost.style.display = 'block';
                normalPost.style.display = 'none';
            }
            else {
                adminPost.style.display = 'none';
                normalPost.style.display = 'block';
            }
        }

        toggleSwitchEditMode.addEventListener('change', switchEditMode, false);
    </script>
{% endblock %}