{% extends "template.twig" %}

{% block style %}
    <link rel="stylesheet" href="/public/css/post.css">
{% endblock %}

{% block content %}
    <div id="admin">
        <h1>Manage</h1>
        <p><i class="fas fa-edit"></i> <a href="">Edit</a></p>
        <p><i class="fas fa-trash-alt"></i> <a href="{{ route("DeleteBlog",[post.id]) }}">Delete</a></p>
    </div>

    <hr>
    {% include "Error.twig" %}
    <form id="post" method="post" action="{{ route("UpdatePost",[post.id]) }}">
        <div>
            <input name="title" type="text" value="{{ post.title }}"/>
            <textarea name="description">{{ post.description }}</textarea>
        </div>
        <input type="submit">
    </form>

    <hr>

    <div id="reviews">
        <h2>Reviews</h2>

        <div class="reviews__insert">
            <form action="{{ route("InsertComment",[post.id]) }}" method="POST">
                <input type="text" name="username" placeholder="Username"/>
                <br>
                <textarea name="comment" placeholder="Type some text here..."></textarea>
                <br>
                <input type="submit">
            </form>
        </div>

        <br>

        <div class="reviews__list">
            {% for review in reviews %}
                <fieldset class="review">
                    <legend><i class="fas fa-user"></i> {{ review.username }}</legend>
                    <p>{{ review.comment }}</p>
                    <a href="{{ route("DeleteComment",[post.id,review.id]) }}">Delete</a>
                </fieldset>

            {% endfor %}
        </div>


    </div>


{% endblock %}

{% block js %}
{% endblock %}